#promotion-main
{
    padding: 14px;
}
#promotion-main .list
{
    float: left;
    width: 100%;
}
.bg-loading
{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #f3f4f5;
    padding: 5px;
    z-index: 1100;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
a.adiable:hover
{
    text-decoration: none !important;
}
.adiable
{
    text-decoration: none;
    cursor: default;
}
#promotion-main .item
{
    width: 180px;
    float: left;
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-right:20px;
}
#promotion-main .item img
{
    border: none;
}
#promotion-main .list h3
{
    color: #b70072;
    font-size: 14px;
    font-weight: normal;
    margin: 0px 0px 16px 0px;
    padding: 0px;
}
#promotion-main .discount
{
    border-top: solid 1px #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
#promotion-main .discount h3
{
    margin-top: 14px;
}
#promotion-main .item .name
{
    margin-top: 6px;
    padding: 0px 8px 0px 8px;
    margin-bottom: 20px;
}
#promotion-main .item div.discount-item-name { padding-bottom:15px; }
#promotion .relative{position:relative!important}
#promotion-main .item .qty{position:relative;left:30%}
#promotion-main .item .incart{height:auto;min-height:20px; xpadding-top:10px; font-size:14px;}
#promotion-main .item .incart a.remove {color:#3b76ba;text-decoration:underline;cursor:pointer}
#promotion-main .bao-cart, #promotion-main .bao-cart-price{margin-top:10px;margin-top:10px;bottom:20px;width:100%}
#promotion-main .bao-cart-price{position:relative;}
#promotion-main .bao-cart{xposition:absolute;bottom:0; min-height:58px;}
#promotion-main .item .name a
{
    color: #333333;
    font-size: 14px;
    margin-top: 6px;
    text-decoration: none;
}
#promotion-main .item .name a:hover
{
    text-decoration: underline;
}
#promotion-main .item .nf-dropdown
{
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
#promotion-main .sec-price{margin-bottom:5px}
#promotion-main .price,#promotion-main .save{display:table}
#xpromotion-main .item img{min-height:115px;height:auto}
/*#xpromotion-main .item .qty
{
    width: 40px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    x-webkit-transform: translate(-50%,-50%);
    x-moz-transform: translate(-50%,-50%);
    x-o-transform: translate(-50%,-50%);
    x-ms-transform: translate(-50%,-50%);
    background-color: #d2d3d3;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 34px;
}*/
#promotion-main .header
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
}
#promotion-main .header .panel
{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none !important;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#promotion-main .header .panel .msg
{
    float: left;
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0px 16px 0px;
    padding: 0px;
}

#promotion-main .header .panel .msg span.alladded {
    color:#3B76BA;
    font-weight:bold;
}
#promotion-main .header .panel .msg .noadd {
    color:#D5652C;
    font-weight:bold;
}
#promotion-main .header .panel .msg .added {
    color:#008000;
    font-weight:bold;
}
#promotion-main .header .panel .free-add-btn
{
    float: right;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0px;
}
#promotion-main .header .error
{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    color: #bb0012;
}
#promotion-main .header .pro-header-wrapper
{
    border-bottom: 1px solid #c7c8c8;
    float: left;
    width: 100%;
    background-color: #ffffff;
}
#promotion-main .header .header-fix
{
    top: 0px;
    position: fixed;
    z-index: 1000;
    padding-top: 10px;
}
#promotion-main .qty-df
{
    width: 40px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    x-webkit-transform: translate(-50%,-50%);
    x-moz-transform: translate(-50%,-50%);
    x-o-transform: translate(-50%,-50%);
    x-ms-transform: translate(-50%,-50%);
    background-color: #d2d3d3;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 30px;
}
  ::i-block-chrome,#promotion-main .qty-df{left:38%  }
.btnCartLarge
{
    height: 40px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    background-color: #F79159;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    width:140px;
    margin-bottom:10px;
}
.form-control
{
    padding: 0px 0px 0px 12px !important;
}
ul.sec-price
{
    margin: 0;
    padding: 0;
    list-style-type: none;
     float: left;
    width: 100%;
}
div.empty-padding
{
  
    float: left;
    width: 100%;
    height: 40px;
    margin: 0px;
}
#promotion-main .xsec-price{margin-top:-15px}
ul.sec-price li { float: left; width: 100%; text-align: center; }
div.bao-cart div.qty { float:none ! important; left:0px ! important; margin: auto ! important;}
div.bao-cart div.update-ctr
{
    display:none;
    clear: both;
    height: auto;
}

div.bao-cart-price div.update-ctr
{
    padding-top:3px;
    display:none;
    clear: both;
    height: auto;
}

div.bao-cart div.update-ctr a, div.bao-cart-price div.update-ctr a
{
    color:#3B76BA;
    font-size: 14px;
    text-decoration:underline;
}
@media screen and (max-width: 768px){
    #promotion-main .header .header-fix{
        position:relative;
    }
    #promotion-main{overflow: hidden; padding: 0px; margin: 10px 0;}
    #promotion-main .header .error{margin-left: 10px;}
    #promotion-main .item{width:160px; margin: 5px;}
    #promotion-main .header .panel .msg , .free-add-btn{padding: 0 10px}
}
@media (max-width: 496px)
{
    #promotion-main .header .panel .free-add-btn
    {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .btnCartLarge
    {
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    #promotion-main .item{width:140px; margin: 5px;}
}